// Google Fonts [Montserrat, Roboto, Wix Madefor Text]

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

// Local Fonts [Proxima Nova, Helvetica]

// Helvetica

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("./files/fonts/Helvetica/Helvetica.woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("./files/fonts/Helvetica/Helvetica-Bold.woff");
}

// Proxima Nova

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("./files/fonts/Proxima-Nova.woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("./files/fonts/Proxima-Nova-Thin.woff");
}
