@use "variables" as *;

.policy-page {
  width: 100%;
  min-height: 675px;
  padding: 58px 6.25% 28px;

  background-color: rgb(6, 5, 6);
  color: white;

  .policy-wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;

    h1 {
      margin-bottom: 105px;

      font-family: $font-montserrat;
      font-size: 68px;
      font-weight: 700;
      line-height: 1.1;
    }

    .policy-text {
      display: grid;
      grid-template-columns: 430px 500px;
      gap: 75px;

      font-family: $font-proxima-nova;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      .policy-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      ol {
        padding-left: 29px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.policy-page.shipping-policy-page,
.policy-page.refund-policy-page {
  min-height: 677px;
  padding-top: 0;
  padding-bottom: 15px;

  .policy-wrapper {
    h1 {
      margin-bottom: 101px;

      font-size: 68px;
      text-transform: uppercase;
    }

    .policy-text {
      width: 440px;

      display: block;

      .policy-column {
        gap: 22px;
      }

      ol {
        padding-left: 28px;
      }
    }

    .policy-divider {
      width: 943px;
      max-width: 100%;
      margin: 65px 0 59px;

      border: 0;
      border-top: 1px solid rgb(77, 77, 77);
    }

    .policy-disclaimer {
      max-width: 760px;

      font-family: $font-proxima-nova;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
    }
  }
  ..policy-page.privacy-policy-page,
  .policy-page.cookies-policy-page {
    min-height: 830px;
    padding-bottom: 45px;

    .policy-wrapper {
      h1 {
        text-transform: uppercase;
      }

      .policy-divider {
        width: 943px;
        max-width: 100%;
        margin: 65px 0 59px;

        border: 0;
        border-top: 1px solid rgb(77, 77, 77);
      }

      .policy-disclaimer {
        max-width: 760px;

        font-family: $font-proxima-nova;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }

  .policy-page.cookies-policy-page {
    min-height: 677px;
  }
}

@media (max-width: 750px) {
  .policy-page {
    min-height: auto;
    padding: 50px 20px 80px;

    .policy-wrapper {
      h1 {
        margin-bottom: 55px;
        font-size: 40px;
      }

      .policy-text {
        grid-template-columns: 1fr;
        gap: 40px;

        font-size: 16px;
        line-height: 1.5;

        ol {
          padding-left: 22px;
        }
      }
    }
  }

  .policy-page.shipping-policy-page,
  .policy-page.refund-policy-page {
    padding: 40px 20px 70px;

    .policy-wrapper {
      h1 {
        margin-bottom: 55px;
        font-size: 40px;
      }

      .policy-text {
        width: 100%;
      }

      .policy-divider {
        margin: 50px 0 40px;
      }

      .policy-disclaimer {
        max-width: 100%;
      }
    }
  }
  .policy-page.privacy-policy-page,
  .policy-page.cookies-policy-page {
    min-height: auto;
    padding-bottom: 70px;

    .policy-wrapper {
      .policy-divider {
        margin: 50px 0 40px;
      }

      .policy-disclaimer {
        max-width: 100%;
      }
    }
  }
}
