// Font Variables

$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-wix-madefor: "Wix Madefor Text", sans-serif;
$font-proxima-nova: "Proxima Nova", sans-serif;
$font-helvetica: "Helvetica", Arial, sans-serif;
